<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<style>
	html {
		background: #226666;
	}

	body {
		text-align: center;
		height: 100vh;
		color: white;
		background: radial-gradient(#4f9393, #226666);
	}

	.progress-value {
		position:absolute;
		right:0;
		left:0;
		font-weight:bold;
	}
	</style>
</head>

<body><div class="container">

	<h1>Tamag-Aussie</h1>

	<h2>Name: </h2>

	<img src="http://40.media.tumblr.com/0193b8d1474c8fe47d442600e871e830/tumblr_nnw351Plux1u41edfo2_1280.jpg" class="img-rounded" alt="bobby-picture" width="400" height="300">

	<p style="font-size:24">Status: <b style="color:yellow">DEAD</b></p>

	<div class="row"><div class="col-sm-offset-4 col-sm-4"><div class="progress" style="background:#539999"><div class="progress-bar progress-bar-success progress-bar-striped active" role="healthbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="60" style="width:60%"><span class="progress-value">Health: 60</span></div></div></div></div>

	<div class="row"><div class="col-sm-offset-4 col-sm-4"><div class="progress" style="background:#539999"><div class="progress-bar progress-bar-success progress-bar-striped active" role="happinessbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="60" style="width:60%"><span class="progress-value">Happiness: 60</span></div></div></div></div>

	<div class="row"><div class="col-sm-offset-4 col-sm-4"><div class="progress" style="background:#539999"><div class="progress-bar progress-bar-success progress-bar-striped active" role="hungerbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="60" style="width:20%"><span class="progress-value">Hunger: 60</span></div></div></div></div>

	<div class="row"><div class="col-sm-offset-4 col-sm-4"><div class="progress" style="background:#539999"><div class="progress-bar progress-bar-success progress-bar-striped active" role="coinbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="60" style="width:60%"><span class="progress-value">Coins: 60</span></div></div></div></div>

</div></body>

</html>
